<div class="col">
  <div class="box-text">
    <h2>{{ title.name }}:</h2>
    <p>
      <span>{{ acc.firstname }} </span>
      <span>{{ acc.lastname }}</span>
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.age }}:</h2>
    <p>
      {{ acc.age }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.email }}:</h2>
    <p>
      {{ acc.email }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.address }}:</h2>
    <p>
      {{ acc.address }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.city }}:</h2>
    <p>
      {{ acc.city }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.balance }}:</h2>
    <p>
      {{ acc.balance }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.gender }}:</h2>
    <p>
      {{ acc.gender }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.employer }}:</h2>
    <p>
      {{ acc.employer }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.state }}:</h2>
    <p>
      {{ acc.state }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title.account_number }}:</h2>
    <p>
      {{ acc.account_number }}
    </p>
  </div>
  <div class="box-text">
    <h2>{{ title._id }}:</h2>
    <p>
      {{ acc._id }}
    </p>
  </div>
</div>
