<div class="account-list">
  <div class="header-table">
    <div class="search">
      <input
        type="text"
        [(ngModel)]="searchStr"
        (ngModelChange)="search()"
        placeholder="Search last name account..."
      />
    </div>
    <button class="btn btn-primary" (click)="openAddAccount()">
      Add Account
    </button>
    <ng-container *ngIf="isOpenAddAccount">
      <app-form
        (close)="openAddAccount()"
        (save)="saveNew()"
        (load)="getAllAccount()"
      >
      </app-form>
    </ng-container>
  </div>
  <ng-container *ngIf="loading">
    <div class="table-bg">
      <app-loading></app-loading>
    </div>
  </ng-container>
  <ng-container *ngIf="view">
    <app-view (open)="openView()"></app-view>
  </ng-container>
  <ng-container *ngIf="table">
    <app-table-element
      [acc]="displayAccount"
      (button)="openEdit()"
      (load)="getAllAccount()"
      (openView)="openView()"
    ></app-table-element>
    <ng-container *ngIf="isOpenEditAccount">
      <app-form
        (close)="openEdit()"
        (load)="getAllAccount()"
        [isOpenEdit]="isOpenEditAccount"
        (edit)="saveEdit()"
      >
      </app-form>
    </ng-container>
    <app-panigation
      [currentPage]="currentPage"
      [totalPage]="totalPage"
      [active]="accountActive"
      (next)="nextPage($event)"
      (prev)="prevPage($event)"
      (itemPerPage)="getItemPerPage($event)"
    ></app-panigation>
  </ng-container>
</div>
